footer.colorScheme
	.container.text-center
		.row
			.col-sm-6.col-xs-12
				p: <a href="https://twitter.com/awwalthefirst" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @awwalthefirst</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				p 
					span: a(href="https://twitter.com/intent/tweet") Bugs? suggestions? 




			.col-sm-6.col-xs-12
				p: a(href="http://codepen.io/awalthefirst", target="_blank") Codepen @awwalthefirst
				p: a(href="http://freecodecamp.com/awalthefirst", target="_blank") FreeCodeCamp @awwalthefirst  
				